@using HotelManagementSystem.Models.Clients
@model ClientViewModel
@{
    this.ViewData["Title"] = "Client Details";
}
@if(this.TempData.ContainsKey("Message")){
	<div class="alert alert-success alert-dismissible">
        <a id="message" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @this.TempData["Message"]
    </div>
}
<style>
    #form-details{
        display:block;

    }

    #client-reservations{
        display:none;
    }

    .option{
        border:2px solid black;
        padding: 10px;
        font-weight:bold;
    }

</style>

<div class="container">
    <h1 class="text-center my-5">CLIENT DETAILS</h1>
<div class="container-info my-5">
   <div class="row">
        <div class="col-md-3 option">
            <button onclick="openFormDetails()" class="border-0 bg-transparent flex-fill">Client Details</button>
        </div>
        <div class="col-md-3 option">
        <button onclick="openReservations()" class="border-0 bg-transparent flex-fill">Made Reservations</button>
    </div>
    </div>
    <div id="form-details">
        <div class="row" >
            <div class="col-md-4">
                <div class="my-4">
                    <h4>Name:</h4>
                    <h5>@this.Model.FirstName @this.Model.LastName</h5>
                </div>
                <div>
                    <h4>Contact:</h4>
                    <h5>@this.Model.PhoneNumber</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="my-4">
                    <h4>Email:</h4>
                    <h5>@this.Model.Email</h5>
                </div>
                <div>
                    <h4>Is Adult:</h4>
                    <h5>@this.Model.IsAdult</h5>
                </div>
            </div>
    </div>
    </div> 
    <div id="client-reservations">
            @if (this.Model.Reservations.Any())
            {
                <div>
                    No Reservations!
                </div>
            }
        <div>
            Reservations: <span class="badge">10</span> | Active Reservation: <span class="badge py-2" style="background:green;"></span>  
        </div>
         <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">Reservation #</th>
              <th scope="col">Room Name</th>
              <th scope="col">Hotel Name</th>
              <th scope="col">Room Photo</th>
              <th scope="col">Total Amount</th>
              <th scope="col">AccommodationDate</th>
              <th scope="col">Exemption Date</th>
              <th scope="col">Is Breakfast Included</th>
              <th scope="col">Is All-inclusive</th>
              <th scope="col">Clients</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
              @foreach(var reservation in this.Model.Reservations.ToList())
               {
               	<tr scope="row" class="active">
                    <td>
                    @(reservation.Id)
                    </td>
                    <td class="pl-0">
                      <div class="d-flex align-items-center">
                        <a href="#" class="name">@reservation.RoomName</a>
                      </div>
                    </td>
                    <td>@reservation.HotelName</td>
                    <td>
                        <img height="100" width="100" src="@reservation.PhotoRemoteUrl" alt="roomPhoto">
                    </td>
                    <td>
                       @reservation.GeneralAmount.ToString("f2")
                    </td>
                     <td>
                       @reservation.AccommodationDate.ToString("dd-MM-yyyy")
                    </td>
                     <td>
                       @reservation.ExemptionDate.ToString("dd-MM-yyyy")
                    </td>
                     <td>
                       @reservation.IsBreakfastIncluded
                    </td>
                     <td>
                       @reservation.IsAllInclusive
                    </td>
                     <td>
                       <ol>
                            @foreach (var client in reservation.Clients)
                            {
                               <li>@(client.FirstName + ' ' + client.LastName)</li>
                            }
                       </ol>
                    </td>
                    <td>
                         <a class="btn btn-primary" asp-action="Details" asp-controller="Reservations" asp-route-id="@reservation.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
</svg>
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Reservations" asp-route-id="@reservation.Id">
                            <svg height="16" width="16" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                        </a>
                        <a class="btn btn-success" asp-action="Edit" asp-controller="Reservations" asp-route-id="@reservation.Id">
                            <svg height="16" width="16" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
                        </a> 
                    </td>
                </tr>
              }
        </tbody>
</table>
 </div>
</div>
</div> 

<script>
    function openReservations() {
        unchoose("form-details");
        choose("client-reservations");
    }

    function openFormDetails() {
        unchoose("client-reservations");
        choose("form-details");
    }

    function unchoose(selector) {
        document.getElementById(selector).style.display = "none";
    }

    function choose(selector) {
        document.getElementById(selector).style.display = "block";
    }
</script>