@using HotelManagementSystem.Models.Rooms
@model UpdateRoomInputModel 
@{
    this.ViewData["Title"] = "Update Room";
}

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6" style="background:#f5f5f5;">
        <form asp-controller="Rooms" asp-action="Update" method="post">
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input class="form-control" type="text" asp-for="@Model.Name" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description"></label>
                <textarea asp-for="@Model.Description" rows="12" class="form-control">
                                                       </textarea>

            </div>
            <div class="form-group">
                <label asp-for="@Model.MainImage"></label>
                <input asp-for="@Model.MainImage" />
            </div>
            <div class="form-group">
                <select class="form-control" asp-for="@Model.RoomType">
                    @foreach (var roomType in this.Model.RoomTypes)
                    {
                        <option value="@roomType">@roomType</option>
                    }
                </select>
            </div>
            <div class="form-check">
                <input asp-for="@Model.IsFree" class="form-check-input" type="checkbox" id="flexCheckDefault">
                <label asp-for="@Model.IsFree" class="form-check-label" for="flexCheckDefault">
                </label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Capacity"></label>
                <input type="number" asp-for="@Model.Capacity" class="form-control" />
            </div>
            <div>

            </div>
            <input asp-for="@Model.HotelId" />
            <div>
                <label asp-for="@Model.AdultPrice"></label>
                <input class="form-control" asp-for="@Model.AdultPrice" />
            </div>
            <div>
                <label asp-for="@Model.ChildPrice"></label>
                <input class="form-control" asp-for="@Model.ChildPrice" />
            </div>
            <button class="btn btn-success">UPDATE</button>
        </form>
    </div>
    <div class="col-md-3">

    </div>
</div>